In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
import seaborn as sns
import numpy as np
import datetime

# Pré processamento

In [2]:
#sem ajustes para importar o csv
urls_acidentes = ['https://raw.githubusercontent.com/tcnl/tcnl/master/acidentes_2018.csv', 'https://raw.githubusercontent.com/tcnl/tcnl/master/acidentes-2019.csv']

dados_acidentes = pd.concat((pd.read_csv(u, sep=';') for u in urls_acidentes), axis=0, ignore_index=True)

In [3]:
dados_acidentes = dados_acidentes.filter(['DATA', 'hora', 'natureza_acidente', 'bairro', 'tipo', 'condicao_via'])

dados_acidentes

             DATA      hora  ...                      tipo condicao_via
0      2018-01-01  00:01:00  ...             ATROPELAMENTO          NaN
1      2018-01-01  02:45:00  ...                   COLISÃO          NaN
2      2018-01-01  03:33:00  ...                   COLISÃO          NaN
3      2018-01-01  07:13:00  ...                   COLISÃO          NaN
4      2018-01-01  07:50:00  ...                   COLISÃO          NaN
...           ...       ...  ...                       ...          ...
23468  2019-12-31  13:37:00  ...                   COLISÃO          NaN
23469  2019-12-31  13:39:00  ...                   COLISÃO          NaN
23470  2019-12-31  14:30:00  ...  ABALROAMENTO TRANSVERSAL         Seca
23471  2019-12-31  15:40:00  ...                   COLISÃO          NaN
23472  2019-12-31  22:17:00  ...             ATROPELAMENTO      Molhada

[23473 rows x 6 columns]

In [4]:
dados_acidentes.dtypes

DATA                 object
hora                 object
natureza_acidente    object
bairro               object
tipo                 object
condicao_via         object
dtype: object

In [5]:
#extrair dia da semana e ano
data_acidente = pd.to_datetime(dados_acidentes['DATA'], format="%Y-%m-%d", errors='coerce')

dados_acidentes['dia_da_semana'] = data_acidente.apply(lambda x: x.weekday())
dados_acidentes['ano'] = data_acidente.apply(lambda x: x.year)

dados_acidentes

             DATA      hora natureza_acidente  ... condicao_via dia_da_semana   ano
0      2018-01-01  00:01:00        COM VÍTIMA  ...          NaN             0  2018
1      2018-01-01  02:45:00        SEM VÍTIMA  ...          NaN             0  2018
2      2018-01-01  03:33:00        SEM VÍTIMA  ...          NaN             0  2018
3      2018-01-01  07:13:00        SEM VÍTIMA  ...          NaN             0  2018
4      2018-01-01  07:50:00        SEM VÍTIMA  ...          NaN             0  2018
...           ...       ...               ...  ...          ...           ...   ...
23468  2019-12-31  13:37:00        SEM VÍTIMA  ...          NaN             1  2019
23469  2019-12-31  13:39:00        SEM VÍTIMA  ...          NaN             1  2019
23470  2019-12-31  14:30:00        SEM VÍTIMA  ...         Seca             1  2019
23471  2019-12-31  15:40:00        SEM VÍTIMA  ...          NaN             1  2019
23472  2019-12-31  22:17:00        COM VÍTIMA  ...      Molhada             1  2019

[23473 rows x 8 columns]

In [6]:
#extrair hora
dados_acidentes['hora_bruta'] = pd.to_datetime(dados_acidentes['hora'], format="%H:%M:%S", errors='coerce').apply(lambda x: x.hour)

dados_acidentes

             DATA      hora natureza_acidente  ... dia_da_semana   ano hora_bruta
0      2018-01-01  00:01:00        COM VÍTIMA  ...             0  2018        0.0
1      2018-01-01  02:45:00        SEM VÍTIMA  ...             0  2018        2.0
2      2018-01-01  03:33:00        SEM VÍTIMA  ...             0  2018        3.0
3      2018-01-01  07:13:00        SEM VÍTIMA  ...             0  2018        7.0
4      2018-01-01  07:50:00        SEM VÍTIMA  ...             0  2018        7.0
...           ...       ...               ...  ...           ...   ...        ...
23468  2019-12-31  13:37:00        SEM VÍTIMA  ...             1  2019       13.0
23469  2019-12-31  13:39:00        SEM VÍTIMA  ...             1  2019       13.0
23470  2019-12-31  14:30:00        SEM VÍTIMA  ...             1  2019       14.0
23471  2019-12-31  15:40:00        SEM VÍTIMA  ...             1  2019       15.0
23472  2019-12-31  22:17:00        COM VÍTIMA  ...             1  2019       22.0

[23473 rows x 9 columns]

In [7]:
#remove as colunas de data e hora
dados_acidentes.drop(columns=['DATA', 'hora'], inplace=True)
dados_acidentes

      natureza_acidente            bairro  ...   ano hora_bruta
0            COM VÍTIMA          SÃO JOSÉ  ...  2018        0.0
1            SEM VÍTIMA          CORDEIRO  ...  2018        2.0
2            SEM VÍTIMA        BOA VIAGEM  ...  2018        3.0
3            SEM VÍTIMA  BAIRRO DO RECIFE  ...  2018        7.0
4            SEM VÍTIMA      CASA AMARELA  ...  2018        7.0
...                 ...               ...  ...   ...        ...
23468        SEM VÍTIMA            VÁRZEA  ...  2019       13.0
23469        SEM VÍTIMA        BOA VIAGEM  ...  2019       13.0
23470        SEM VÍTIMA      CASA AMARELA  ...  2019       14.0
23471        SEM VÍTIMA             BARRO  ...  2019       15.0
23472        COM VÍTIMA  PORTO DA MADEIRA  ...  2019       22.0

[23473 rows x 7 columns]

In [8]:
#limpeza dos dados
dados_acidentes['bairro'].replace(['BOMBA DO HEMETERIO', 'JOANA BEZERRA', 'IPESEP'], ['BOMBA DO HEMETÉRIO', 'ILHA JOANA BEZERRA', 'IPSEP'], inplace=True)
dados_acidentes['natureza_acidente'].replace(['APOIO', 'ENTRADA E SAÍDA'], [np.nan, np.nan], inplace=True)
dados_acidentes['tipo'].replace(['SUBURBIO', '0', 'SANTO AMARO'], [np.nan, np.nan, np.nan], inplace=True)

In [9]:
dados_acidentes

      natureza_acidente            bairro  ...   ano hora_bruta
0            COM VÍTIMA          SÃO JOSÉ  ...  2018        0.0
1            SEM VÍTIMA          CORDEIRO  ...  2018        2.0
2            SEM VÍTIMA        BOA VIAGEM  ...  2018        3.0
3            SEM VÍTIMA  BAIRRO DO RECIFE  ...  2018        7.0
4            SEM VÍTIMA      CASA AMARELA  ...  2018        7.0
...                 ...               ...  ...   ...        ...
23468        SEM VÍTIMA            VÁRZEA  ...  2019       13.0
23469        SEM VÍTIMA        BOA VIAGEM  ...  2019       13.0
23470        SEM VÍTIMA      CASA AMARELA  ...  2019       14.0
23471        SEM VÍTIMA             BARRO  ...  2019       15.0
23472        COM VÍTIMA  PORTO DA MADEIRA  ...  2019       22.0

[23473 rows x 7 columns]

In [10]:
#tratamento de NA e categorização

categories_list = ['natureza_acidente', 'bairro', 'tipo', 'condicao_via']

dados_acidentes['natureza_acidente'].fillna('SEM VÍTIMA', inplace=True)
dados_acidentes = dados_acidentes.apply(lambda x: x.fillna('Não informado') if x.name in categories_list else x)
dados_acidentes = dados_acidentes.apply(lambda x: x.astype('category') if x.name in categories_list else x)

dados_acidentes

      natureza_acidente            bairro  ...   ano hora_bruta
0            COM VÍTIMA          SÃO JOSÉ  ...  2018        0.0
1            SEM VÍTIMA          CORDEIRO  ...  2018        2.0
2            SEM VÍTIMA        BOA VIAGEM  ...  2018        3.0
3            SEM VÍTIMA  BAIRRO DO RECIFE  ...  2018        7.0
4            SEM VÍTIMA      CASA AMARELA  ...  2018        7.0
...                 ...               ...  ...   ...        ...
23468        SEM VÍTIMA            VÁRZEA  ...  2019       13.0
23469        SEM VÍTIMA        BOA VIAGEM  ...  2019       13.0
23470        SEM VÍTIMA      CASA AMARELA  ...  2019       14.0
23471        SEM VÍTIMA             BARRO  ...  2019       15.0
23472        COM VÍTIMA  PORTO DA MADEIRA  ...  2019       22.0

[23473 rows x 7 columns]

In [11]:
#categorias em números

dados_acidentes = dados_acidentes.apply(lambda x: x.cat.codes if x.name in categories_list else x)
dados_acidentes

       natureza_acidente  bairro  tipo  ...  dia_da_semana   ano  hora_bruta
0                      0      81     3  ...              0  2018         0.0
1                      1      31     9  ...              0  2018         2.0
2                      1      12     9  ...              0  2018         3.0
3                      1       9     9  ...              0  2018         7.0
4                      1      23     9  ...              0  2018         7.0
...                  ...     ...   ...  ...            ...   ...         ...
23468                  1      90     9  ...              1  2019        13.0
23469                  1      12     9  ...              1  2019        13.0
23470                  1      23     1  ...              1  2019        14.0
23471                  1      10     9  ...              1  2019        15.0
23472                  0      71     3  ...              1  2019        22.0

[23473 rows x 7 columns]

In [12]:
dados_acidentes.dtypes

natureza_acidente       int8
bairro                  int8
tipo                    int8
condicao_via            int8
dia_da_semana          int64
ano                    int64
hora_bruta           float64
dtype: object

In [13]:
dados_acidentes = dados_acidentes.convert_dtypes()
dados_acidentes.dtypes

natureza_acidente     Int8
bairro                Int8
tipo                  Int8
condicao_via          Int8
dia_da_semana        Int64
ano                  Int64
hora_bruta           Int64
dtype: object

In [14]:
dados_acidentes

       natureza_acidente  bairro  tipo  ...  dia_da_semana   ano  hora_bruta
0                      0      81     3  ...              0  2018           0
1                      1      31     9  ...              0  2018           2
2                      1      12     9  ...              0  2018           3
3                      1       9     9  ...              0  2018           7
4                      1      23     9  ...              0  2018           7
...                  ...     ...   ...  ...            ...   ...         ...
23468                  1      90     9  ...              1  2019          13
23469                  1      12     9  ...              1  2019          13
23470                  1      23     1  ...              1  2019          14
23471                  1      10     9  ...              1  2019          15
23472                  0      71     3  ...              1  2019          22

[23473 rows x 7 columns]

In [15]:
dados_acidentes.to_csv('./acidentes_2018_2019_pre_processado.csv')

In [16]:
dados_acidentes.dtypes

natureza_acidente     Int8
bairro                Int8
tipo                  Int8
condicao_via          Int8
dia_da_semana        Int64
ano                  Int64
hora_bruta           Int64
dtype: object

# Acidentes: plots

In [ ]:
dados_acidentes.count()

In [ ]:
categories_list

In [ ]:
dados_acidentes['natureza_acidente'].plot.bar(figsize=(10, 8))

In [ ]:
dados_acidentes['bairro'].plot.bar(figsize=(24, 8))

In [ ]:
dados_acidentes['tipo'].plot.bar(figsize=(10, 8))

In [ ]:
dados_acidentes['condicao_via'].plot.bar(figsize=(10, 8))

In [ ]:
dados_acidentes['dia_da_semana'].plot.bar(figsize=(10, 8))

In [ ]:
dados_acidentes['hora_bruta'].plot.bar(figsize=(10,8))